In [1]:
import pandas as pd

In [2]:
correct_df = pd.read_csv('./Correct_cities.csv')

In [3]:
correct_df.head()

               name               country       id
0      les Escaldes               Andorra  3040051
1  Andorra la Vella               Andorra  3041563
2    Umm al Qaywayn  United Arab Emirates   290594
3    Ras al-Khaimah  United Arab Emirates   291074
4      Khawr Fakkān  United Arab Emirates   291696

In [4]:
correct_df = correct_df.drop('country', axis=1)

In [5]:
missspelt_df = pd.read_csv('./Misspelt_cities.csv')

In [6]:
missspelt_df

        misspelt_name        country
0      Hfjdúszoposzló        Hungary
1            Otrajnyy         Russia
2          ian Isidre           Peru
3       Bordj Zemoufa        Algeria
4         ChulamViwta  United States
...               ...            ...
23013      Zdigulegsk         Russia
23014          Ygring       Thailand
23015       moudougou   Burkina Faso
23016          Bhīkxi          India
23017  Belvfbere Park  United States

[23018 rows x 2 columns]

In [7]:
misspelt_name_np = missspelt_df['misspelt_name'].to_numpy()

In [8]:
miss_country = missspelt_df['country'].to_numpy()

In [9]:
len(miss_country)

23018

In [10]:
len(misspelt_name_np)

23018

In [11]:
country_to_miscity = dict(zip(misspelt_name_np, miss_country))

In [12]:
len(country_to_miscity)

22951

In [13]:
w1 = 'Bangalore'
w2 = 'Banhakorg'

In [14]:
from collections import Counter

In [15]:
cw1 = Counter(w1)
cw1

Counter({'B': 1, 'a': 2, 'n': 1, 'g': 1, 'l': 1, 'o': 1, 'r': 1, 'e': 1})

In [16]:
cw2 = Counter(w2)
cw2

Counter({'B': 1, 'a': 2, 'n': 1, 'h': 1, 'k': 1, 'o': 1, 'r': 1, 'g': 1})

In [17]:
len(cw2-cw1)

2

In [18]:
# a make shift similarity function
def isSimilar(w1, w2):
    cw1 = Counter(w1)
    cw2 = Counter(w2)
    if len(cw2)>len(cw1):
        return len(cw2-cw1)
    else:
        return len(cw1-cw2)

In [19]:
isSimilar(w1, w2)

2

In [20]:
correct_name_df = correct_df['name'].to_numpy()

In [21]:
correct_id = correct_df['id'].to_numpy()

In [22]:
correct_city_to_id = dict(zip(correct_name_df, correct_id))

In [23]:
correct_city_to_id['les Escaldes']

3040051

In [24]:
# find match
def find_id(w1):
    score = {isSimilar(w1, k):v for k, v in correct_city_to_id.items()}
    scoreCounter = Counter(score)
    return scoreCounter[min(scoreCounter)]

In [25]:
find_id('Bangalore')

2720383

In [26]:
find_id('San Rafael')

5392567

In [27]:
find_id('Banhakorg')

2032533